body {
    margin: 0;
    padding: 0;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px 0;
    display: none;
}
#navbar a {
    text-decoration: none;
    margin: 0 10px;
    color: #333;
    font-weight: bold;
}
.section {
    height: 500px;
    margin-bottom: 20px;
}
.active {
  background-color: #2ff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}