#parentElement {
    width: 200px;
    height: 200px;
    background-color: lightblue;
}

#referenceElement {
    width: 100px;
    height: 100px;
    background-color: pink;
}

.newElement {
    width: 300px;
    height: 100px;
    background-color: red;
}