<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <import resource="spring-dao.xml"/>

    <!--总的配置文件中只管理Bean-->
    <bean id="userMapper" class="com.zhehao.mapper.UserMapperImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
    </bean>

    <!--如果希望的话，这里注入一个sqlSessionTemplate也可以-->
    <bean id="userMapperV2" class="com.zhehao.mapper.UserMapperImplV2">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

</beans>