<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--<context:annotation-config>标签用于启用Spring容器对注解的支持，告诉容器需要处理配置类中的注解-->
    <context:annotation-config/>
    <!--
    <context:component-scan>标签配置Spring的组件扫描功能，会扫描带@Component的类，并将其注册为Bean
    无需在XML配置文件中逐个声明每个Bean，而是可以让Spring容器自动扫描指定的包路径，并将标记有 @Component 的类注册为Spring的Bean
    这种基于注解的配置方式通常更加方便，易于维护
    -->
    <context:component-scan base-package="com.zhehao.pojo"/>

</beans>