<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--<context:annotation-config>标签用于启用Spring容器对注解的支持，告诉容器需要处理配置类中的注解-->
    <context:annotation-config/>

    <bean id="cat" class="com.zhehao.pojo.Cat"/>
    <bean id="dog" class="com.zhehao.pojo.Dog"/>
    <bean id="people" class="com.zhehao.pojo.People"/>
    <bean id="people1" class="com.zhehao.pojo.People"/>

</beans>