/*
选择器优先级：id选择器（#号开头）、类选择器（.号开头）、标签选择器
*/

/*标签选择器，对整个标签生效*/
h1 {
    color: blue;
}

/*类选择器，对指定class属性生效，class属性不唯一*/
.eop {
    color: red;
}

.bpit {
    color: green;
}

/*id选择器，对指定id属性生效，id全局唯一*/
#zhehao {
    color: yellow;
}

#chaochao {
    color: purple;
}