/*基于基本选择器，还可选择子节点or兄弟节点*/

/*空格 " " 选择所有后代*/
body p {
    /*body标签下的所有p标签*/
    color: blue;
}

/*大于 ">" 选择直系后代*/
body > p {
    /*body标签下的直系p标签*/
    color: red;
}

/*加号 "+" 选择下面的一个兄弟*/
#p7 + p {
    /*先找到id为p7的标签，下面的第一个兄弟p标签p8*/
    color: purple;
}

/*波浪 "~" 选择下面的所有兄弟*/
#p13 ~ p {
    /*先找到id为p13的标签，下面的所有兄弟p标签p14,p15，p16不是兄弟*/
    color: green;
}