/*
用冒号的都是结构伪类选择器，基于元素在文档结构中的位置进行选择
nth-child：父元素的第n个子元素
*/

ul li:nth-child(odd) {
    background-color: lightgray;
}

p:nth-child(1) {
    color: red;
}
/*第一个child是ul标签，即使写了nth-child(1)，由于没有匹配上p标签，也不生效*/
p:nth-child(2) {
    color: blue;
}

p:nth-child(4) {
    color: yellow;
}

/*a:hover 鼠标悬浮状态*/
a:hover {
    color: magenta;
}