/*target属性值为_blank*/
a[target="_blank"] {
    background: grey;
}

/*包含id属性*/
body p[id] {
    color: red;
}

/*属性值空格分隔，属性值中包含first即选中*/
p[class~="first"] {
    background: blue;
}

/*href属性以http开头*/
a[href^="http"] {
    background: #a29bd4;
}

/*
placeholder属性以name结尾
可以指定多个属性
*/
input[placeholder$="name"][type="text"] {
    background: #acacbe;
}