/*
text-align: center; 水平居中
*/
h1 {
    color: #00FFFF;
    text-align: center;
}

/*
text-indent，首行缩进
*/
p {
    text-indent: 2em;
}

/*
height控制元素高度
line-height控制行内元素（文本）的行高
line-height: 2; 将行高设置为当前字体大小的2倍
*/
#p1 {
    background: #a29bd4;
    height: 100px;
    line-height: 2;
}

/*下划线*/
#p2 {
    text-decoration: underline;
}

/*删除线*/
#p3 {
    text-decoration: line-through;
}

/*上划线*/
#p4 {
    text-decoration: overline;
}

/*
a标签自带下划线，text-decoration: none;去掉下划线
*/
a {
    text-decoration: none;
}

/*
vertical-align: middle; 垂直居中对齐
*/
img,span {
    vertical-align: middle;
}