/*linear-gradient 渐变色*/
body {
    background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

/*
背景图片默认重复：
background-repeat: repeat;
*/
div {
    width: 500px;
    height: 300px;
    border: 1px solid red;
    background-image: url("../image/frog.jpeg");
    background-color: grey;
}

/*只对x轴重复*/
.div2 {
    background-repeat: repeat-x;
}

/*只对y轴重复*/
.div3 {
    background-repeat: repeat-y;
}

.div4 {
    background-repeat: no-repeat;
}