<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="development">
        <environment id="development">
            <!--默认使用JDBC事务管理-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/jdbc?useUnicode=true&amp;characterEncoding=utf-8"/>
                <property name="username" value="root"/>
                <property name="password" value="zhang97122"/>
            </dataSource>
        </environment>
    </environments>

    <!--mappers告诉MyBatis哪些xml应该被注册为MyBatis映射器，XML映射文件中包含了SQL语句和映射规则-->
    <mappers>
        <mapper resource="com/zhehao/dao/UserMapper.xml"/>
    </mappers>

</configuration>